version: '3.8'

services:
  nest-dev:
    container_name: hello_multlan_api
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - '3000:3000'
      - '9229:9229'
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: hello_multlan_postgres
    image: postgres:16-alpine
    restart: no
    ports:
      - '5432:5432'
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    container_name: hello_multlan_redis
    image: redis:7-alpine
    restart: no
    ports:
      - '6379:6379'
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  nest-prod:
    container_name: hello_multlan_api_prod
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    restart: unless-stopped

volumes:
  pgdata:
  redis_data:
